ProiectServer/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="angajati" type="angajati"/>

  <xs:complexType name="angajati">
    <xs:sequence>
      <xs:element name="angajati" type="asigurator" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="denumireFirma" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="asigurator">
    <xs:sequence>
      <xs:element name="idAsigurator" type="xs:int"/>
      <xs:element name="nume" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

